pre { background-color: #b4b4b4; }
a { color: #00644f; }
i { font-style: italic; }
b { font-weight: bold; }
small { font-size: 90%; }
big { font-size: 110%; }

input {
    font-size: 16px; font-weight: normal; font-style: normal;
    background-color: #c8ece1;
}
button {
    font-size: 16px; font-weight: normal; font-style: normal;
    background-color: #f6c198;
}